<!DOCTYPE html>
<html>
  <head>
    <script>
      // 실시간 시간을 업데이트하는 함수
      function updateClock() {
        const clockElement = document.getElementById("clock");
        const currentTime = new Date();
        const hours = currentTime.getHours().toString().padStart(2, "0");
        const minutes = currentTime.getMinutes().toString().padStart(2, "0");
        const seconds = currentTime.getSeconds().toString().padStart(2, "0");

        const formattedTime = `${hours}:${minutes}:${seconds}`;
        clockElement.textContent = `${formattedTime}`;
      }

      setInterval(updateClock, 1000);

      // 페이지 로드 시에도 한 번 시간을 업데이트
      window.onload = updateClock;
    </script>
  </head>
  <body>
    <div id="clock"></div>
  </body>
</html>
